* {
    margin: 0;
    padding:0;
}

body {
    height: 100vh;
    width:100vw;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.col {
    width: 40%;
    padding: 2%;
    height:40%;
    margin-top:2%;
}
.new-book-card {
    padding: 2%;
    background: #e2e2e2;
    margin-top:2%;
    margin-left: 4%;
}
p {
    margin-bottom:0;
}

.btn {
    margin-top:4%;
    margin-bottom:4%;
}

.link-success {
    margin-top:5%;
}